@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Student" asp-action="index" asp-route-Student="Admin/Student/List" class="btn btn-primary">Go to The List Student</a>
</div>
